<div class="cal-layout">
    <app-cal-filters
        [teams]="teams"
        [filters]="filters"
        (filtersChange)="onFiltersChange($event)"
    />

    <div *ngIf="filteredGames$ | async as games" class="cal-content">
        <div class="cal-table">
        <app-cal-table [games]="games" [displayedColumns]="displayedColumns" />
        </div>

        <div class="story-panel">
            <div class="story-panel-preview" #storyCapture>
                <ng-container *ngIf="storyGroups$ | async as storyGroups; else emptyGroups">
                    <app-story-preview
                        [groups]="storyGroups"
                        [backgroundUrl]="storySettings.backgroundEnabled ? storySettings.backgroundUrl : null"
                        [fillPills]="storySettings.fillPills"
                        [showLogo]="storySettings.showLogo"
                        [logoUrl]="storySettings.logoUrl"
                        [logoMarginTop]="storySettings.logoMarginTop"
                        [logoMarginBottom]="storySettings.logoMarginBottom"
                        [title]="storySettings.titleText"
                        [logoPosition]="storySettings.logoPosition"
                        [backgroundSettings]="storySettings.backgroundSettings"
                    />
                </ng-container>
                <ng-template #emptyGroups>
                    <app-story-preview
                        [groups]="[]"
                        [backgroundUrl]="storySettings.backgroundEnabled ? storySettings.backgroundUrl : null"
                        [fillPills]="storySettings.fillPills"
                        [showLogo]="storySettings.showLogo"
                        [logoUrl]="storySettings.logoUrl"
                        [logoMarginTop]="storySettings.logoMarginTop"
                        [logoMarginBottom]="storySettings.logoMarginBottom"
                        [title]="storySettings.titleText"
                        [logoPosition]="storySettings.logoPosition"
                        [backgroundSettings]="storySettings.backgroundSettings"
                    />
                </ng-template>
            </div>

            <app-story-controls
                [settings]="storySettings"
                [presets]="presets"
                [exportTarget]="storyCapture"
                (settingsChange)="onStorySettingsChange($event)"
            />
        </div>
    </div>

</div>
