<div>
    <mat-form-field>
        <mat-label>Teams</mat-label>
        <mat-select [formControl]="selectedTeams" multiple>
            <mat-option (click)="selectAllTeams()">Select all</mat-option>
            <mat-option (click)="deselectAllTeams()">Deselect all</mat-option>
            <mat-divider></mat-divider>

            @for (team of teams; track team) {
            <mat-option [value]="team">{{team}}</mat-option>
            }
        </mat-select>
    </mat-form-field>


    <mat-checkbox [formControl]="onlyHomeGames">Thuiswedstrijden</mat-checkbox>


    <div *ngIf="filteredGames$ | async as games">
        <table mat-table [dataSource]="games" class="mat-elevation-z8">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let game"> {{game.title}} </td>
            </ng-container>

            <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> team </th>
                <td mat-cell *matCellDef="let game"> {{game.team}} </td>
            </ng-container>

            <ng-container matColumnDef="isHomeGame">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> thuiswedstrijd? </th>
                <td mat-cell *matCellDef="let game"> 
                    <mat-icon [innerText]="game.isHomeGame ? 'home' : 'airport_shuttle'"></mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
                <td mat-cell *matCellDef="let game"> {{game.start | date:'dd/MM'}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> tijd </th>
                <td mat-cell *matCellDef="let game"> {{game.start | date:'HH:mm'}} - {{game.end | date:'HH:mm'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</div>
